* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  border-bottom: 20px solid greenyellow;
  height: 100vh;
  background: skyblue;
  font-family: futura;
  margin: 0;
}

.sun {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: gold;
  top: 10px;
  box-shadow: 0 0 80px orange;
}

.animal {
  display: grid;
  width: 100px;
  height: 50px;
  background: salmon;
  border-radius: 20px 20px 0 0;
  position: absolute;
}

.bird {
  @extend .animal;
  border-radius: 40px;
  background: black;
  justify-content: flex-end;
  align-content: center;
}

.spout {
  position: absolute;
  left: 100%;
  top: 50%;
  border: 10px solid orange;
  width: 50px;
  border-right-color: transparent;
  border-radius: 10px;
  transform: translate(-50%);
}

.wing {
  position: absolute;
  top: 40%;
  left: 20%;
  height: 80px;
  width: 10px;
  border: 40px solid transparent;
  border-width: 30px 30px 40px 10px;
  border-top-color: #333;
  transform-origin: center top;
  animation: flap 0.2s linear infinite;
}

@keyframes flap {
  from {
    transform: scale(1, -1);
  }
  to {
    transform: scale(1, 1);
  }
}

.dog {
  @extend .animal;
  height: 80px;
  transition: all 0.5s ease;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-end;
  justify-items: center;
  bottom: 30px;
}

.cat {
  @extend .animal;
  height: 40px;
  transition: all 0.5s ease;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-end;
  justify-items: center;
  bottom: 30px;
  background: rgb(186, 110, 110);
}

@keyframes fadeitout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.speechbubble {
  @extend .animal;
  bottom: 200px;
  background: rgb(232, 232, 232);
  border-radius: 20px;
  height: 70px;
  padding: 10px;
  animation: fadeitout 3s forwards;
}
.speechbubble::after {
  content: '';
  position: absolute;
  right: 40px;
  top: 100%;
  border: 20px solid rgb(232, 232, 232);
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.eye {
  margin-top: -5px;
  animation: blink 3s 9s linear infinite;
  grid-column: span 2;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 6px white;

  // light
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
  }
}

.leg {
  background: black;
  position: absolute;
  width: 10px;
  height: 20px;
  transform: translate(0px, 100%);
}

@keyframes blink {
  50% {
    transform: scale(1, 1);
  }

  55% {
    transform: scale(1, 0);
  }

  60% {
    transform: scale(1, 1);
  }
}
